<div class="sponsors">
  <!-- main container -->
  <div class="sponsors__all">
    <!-- container for each sponsor -->
    <div class="sponsors__each" *ngFor="let sponsor of getSponsors()">
      <!-- image -->
      <img src="{{ sponsor.imageURL }}" alt="" />

      <!-- description -->
      <p class="text-muted">{{ sponsor.sponsorName }}</p>
    </div>
  </div>
</div>


<!-- References -->
<!-- https://www.premierleague.com/ -->
<!-- https://en.wikipedia.org/wiki/Premier_League -->
<!-- https://www.premierleague.com/tables -->
<!-- https://www.premierleague.com/players -->
<!-- https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
<!-- https://angular.io/ -->