<!-- main player container -->
<div class="players container">

  <!-- heading -->
  <div class="players__heading">
    <h1>Players</h1>
    <img src="../../assets/ball.png" alt="ball" height="60" />
  </div>

  <!-- players list -->
  <div class="container players__list">
    <!-- each player card -->
    <div class="card" style="width: 16rem" *ngFor="let player of getPlayers()">
      <!-- player image -->
      <img
        class="card-img-top"
        src="{{ player.imageUrl }}"
        alt="Card image cap"
      />
      <!-- player description -->
      <div class="card-body">
        <h1 class="card-text">{{ player.name }}</h1>
        <p class="card-text">{{ player.position }}</p>
        <p class="card-text">{{ player.teamName }}</p>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
