<div class={{displayCelebration}}>
  <div class="matches container">
    <div class="matches__titleContent">
      <h1 class="matches__header">Matches</h1>
      <img src="../../assets/ball.png" alt="" height="60px" />
    </div>
  
    <p class="matches__playedSoFar">All Matches Played</p>
  
    <div class="matches__inputs container">
      <div class="matches__textField">
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <label for="dateEntered" class="sr-only">Date</label>
            <input
              type="date"
              class="form-control date__calender"
              id="dateEntered"
              (change)="setSelectedDate($event.target.value)"
              value="{{ selectedDate }}"
            />
          </div>
          <button
            type="button"
            class="btn btn-sm mb-2 matches__textField__searchBtn"
            (click)="handleSearchSelectedDate()"
            [disabled] = "disableSearchBtn"
          >
            Search
          </button>
        </form>
      </div>
  
      <div class="matches__season">
        <p>Season</p>
        <p>{{ currentSeason }}</p>
      </div>
  
      <div class="matches__btn">
        <!-- drop down season -->
        <div class="btn-group season">
          <button
            class="btn btn-light btn-sm dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Season
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
              *ngFor="let season of seasons"
              (click)="handleClickedSeason(season)"
              >{{ season }}</a
            >
          </div>
        </div>
  
        <!-- generate match btn -->
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="generateMatch()"
        >
          Generate Match
        </button>
      </div>
    </div>
  
    <!-- main card container -->
    <div class="matches__list container" *ngIf="!loadingContent">
      <!-- each match card -->
      <div class="matches__matchCard" *ngFor="let match of matches; index as i">
        <div class="matches__club1">
          <div>
            <img
              src="../../assets/logo/{{ clubLogo[i] }}.png"
              class="match__logo"
              height="75px"
              alt=""
            />
          </div>
          <div class="match__clubContent">
            <h1>{{ match.participatedCLubName }}</h1>
            <p class="match__date">
              {{ match.date["day"] }}/{{ match.date["month"] }}/{{
                match.date["year"]
              }}
            </p>
            <p class="match__type">{{ match.matchType }}</p>
            <p class="match__score">{{ match.goalScored }}</p>
          </div>
        </div>
  
        <div class="matches__versus">
          <p>VS</p>
        </div>
  
        <div class="matches__club2">
          <div class="match__clubContent">
            <h1>{{ match.opponentClubName }}</h1>
            <p class="match__date">
              {{ match.date["day"] }}/{{ match.date["month"] }}/{{
                match.date["year"]
              }}
            </p>
            <p class="match__type">{{ match.matchType }}</p>
            <p class="match__score">{{ match.goalReceived }}</p>
          </div>
          <div>
            <img
              src="../../assets/logo/{{ clubLogo[i + 2] }}.png"
              class="match__logo"
              height="75px"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container loading" *ngIf="loadingContent">
      <img src="../../assets/loading.gif" alt="" />
    </div>
  </div>
  <br />
  <br />
  <br />
  
</div>