<div class="welcome">
  <div class="welcome__sectionTop">
    <img
      src="../../assets/premierLeagueWelcome.png"
      alt="headingLogo"
      height="300vh"
    />
    <img
      src="../../assets/welcomeFireBall.png"
      height="120vh"
      alt="fireballLogo"
    />
  </div>

  <div class="welcome__sectionBottom">
    <div class="welcome__button">
      <button (click)="handleWelcome()" mat-raised-button routerLink="/about"><span>CONTINUE</span></button>
    </div>
    <div class="welcome__copyrightLaws">
      <small>© PREMIER LEAGUE 2020</small>
    </div>
  </div>
</div>
