<!-- main container -->
<footer class="footer">
  <!-- footer content -->
  <p style="font-size: 13px; font-weight: 600">© PREMIER LEAGUE 2020</p>
  <p style="font-size: 12px">
    Modern Slavery Statement • Equality Standard • Terms & Conditions • Policies
    • Cookie Policy
  </p>

  <!-- footer image -->
  <div>
    <img src="../../assets/footerImage.png" alt="" height="30ox" />
  </div>
</footer>


<!-- References -->
<!-- https://www.premierleague.com/ -->
<!-- https://en.wikipedia.org/wiki/Premier_League -->
<!-- https://www.premierleague.com/tables -->
<!-- https://www.premierleague.com/players -->
<!-- https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
<!-- https://angular.io/ -->