<nav class="navbar navbar-expand-lg navbar-dark navigation__bar">
  <div>
    <a class="navbar-brand navigation__barLogo" routerLink="/about" (click)="onHandleClick('about')">
      <img src="../../assets/head.jpg" height="55px" alt="" />
      <span>Premier League</span></a
    >
  </div>
  <div class="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link {{ activeLinks[0] }}"
          (click)="onHandleClick('about')"
          routerLink="/about"
          >ABOUT
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {{ activeLinks[1] }}"
          (click)="onHandleClick('table')"
          routerLink="/table"
          >TABLE</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link {{ activeLinks[2] }}"
          (click)="onHandleClick('matches')"
          routerLink="/matches"
          >MATCHES</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link {{ activeLinks[3] }}"
          (click)="onHandleClick('players')"
          routerLink="/players"
          >PLAYERS</a
        >
      </li>
    </ul>
  </div>
</nav>
