# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Nazhim\Documents\GitHub\w1761265_OOP_GUI--FX--_AND_CLI\OOP\CLI using CMD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
