<div class="tablePage">
  <div class="container pTable">
    <div class="pTable__header__container">
      <h1 class="pTable__header">Table</h1>
      <img src="../../assets/trophy.png" alt="" height="150px" />
    </div>

    <div class="pTable__btnOptions mt-5 container">
      <div class="pTable__selectedSeason">
        <p>Season {{ currentSeason }}</p>
      </div>
      <div>
        <div class="btn-group season">
          <button
            class="btn btn-light btn-sm dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Season
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
              *ngFor="let season of seasons"
              (click)="handleClickedSeason(season)"
              >{{ season }}</a
            >
          </div>
        </div>

        <div class="btn-group sortBy">
          <button
            class="btn btn-light btn-sm dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Sort By
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item" (click)="sortByPoints()">Points</div>
            <div class="dropdown-item" (click)="sortByGoals()">Goals</div>
            <div class="dropdown-item" (click)="sortByWins()">Wins</div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container mt-4 pTable__table table-wrapper-scroll-y my-custom-scrollbar"
      *ngIf = "!isLoading"
    >
      <table class="table">
        <thead class="table__header">
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Club</th>
            <th scope="col">Played</th>
            <th scope="col">Won</th>
            <th scope="col">Drawn</th>
            <th scope="col">Lost</th>
            <th scope="col">GF</th>
            <th scope="col">GA</th>
            <th scope="col">GD</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rowResult of resultsRecords; index as position">
            <td scope="row">{{ position + 1 }}</td>
            <td>{{ rowResult.name }}</td>
            <td>{{ rowResult.clubStatistics.totalMatchesPlayed }}</td>
            <td>{{ rowResult.clubStatistics.totalWins }}</td>
            <td>{{ rowResult.clubStatistics.totalDraws }}</td>
            <td>{{ rowResult.clubStatistics.totalDefeats }}</td>
            <td>{{ rowResult.totalGoalsScored }}</td>
            <td>{{ rowResult.totalGoalsReceived }}</td>
            <td>{{ rowResult.totalGoalsDifference }}</td>
            <td>{{ rowResult.clubStatistics.totalPointsScored }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container loading" *ngIf="isLoading">
      <img src="../../assets/loading.gif" alt="">
    </div>
  </div>
</div>
