<!-- this is the nav bar -->
<app-nav-bar></app-nav-bar>
<!-- this is the router outlet for routing of the pages/ components -->
<router-outlet></router-outlet>
<!-- this is the sponsor bottom banner -->
<app-sponsor *ngIf="getVisibleNavFooter()"></app-sponsor>

<!-- this is the footer -->
<app-footer *ngIf="getVisibleNavFooter()"></app-footer>


<!-- References -->
<!-- https://www.premierleague.com/ -->
<!-- https://en.wikipedia.org/wiki/Premier_League -->
<!-- https://www.premierleague.com/tables -->
<!-- https://www.premierleague.com/players -->
<!-- https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
<!-- https://angular.io/ -->